<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/Style1.css">
    <title>Budin de limon con harina de arroz.</title>
</head>
<body>
    <h1>Budin de limón con harina de arroz.</h1>
    <img src="https://media.airedesantafe.com.ar/p/37b00d87d7f715940bb18f01ca8f7546/adjuntos/268/imagenes/003/839/0003839101/1200x0/smart/budin-limon-harina-arroz-la-receta-tacc-disfrutar-la-merienda.png" alt="Budin de limon con harna de arroz""width="500" height="250">
    <p>Budín apto para celíacos, aporta un sabor ligero y una miga tierna que se combina perfectamente con el toque cítrico del limón. Delicia esponjosa y humeda para acompañar una taza de té o café en cualquier momento del día.</p>
    <hr>
    <h2>Ingredientes</h2>
    <ul>
        <li>1 taza de harina de arroz</li>
        <li>1 taza de azúcar</li>
        <li>3 huevos grandes</li>
        <li>1/2 taza de aceite vegetal</li>
        <li>Ralladura de 2 limones</li>
        <li>Jugo de 2 limones</li>
        <li>1 cucharadita de polvo de hornear</li>
        <li>1 pizca de sal</li>
    </ul>
    <h2>Preparación</h2>
    <ol type="I">
        <li>Precalienta el horno a 180° C</li>
        <li>Engrasa y enharina un molde para budin.</li>
        <li>En un bol grande, mezcla la harina de arroz, el povo de hornear y la pizca de sal. Reserva.</li>
        <li>En otro bol, bate los huevos con el azúcar hasta que la mezcla esté espumosa y haya duplicado su volumen.</li>
        <li>Incorpora lentamente el aceite vegetal mientras sigues batiendo.</li>
        <li>Agrega la ralladura y el jugo de limón. Mezcla bien.</li>
        <li>Añade gradualmente la mezcla de harina de arroz, polvo de hornear y sal a la mezcla de huevos y limón. Mezcla suavemente con movimientos envolventes hasta que todo esté bien combinado y no haya grumos.</li>
        <li>Vierte la mezcla en el molde preparado, asegurándote de distribuirla de manera uniforme.</li>
        <li>Hornea en el horno precalentado durante aproximadamente 40-45 minutos, o hasta que al insertar un palillo en el centro salga limpio.</li>
        <li>Deja enfriar el budín en el molde durante unos 10 minutos.</li>
        <li>Luego, desmolda cuidadosamente y deja que termine de enfriarse sobre una rejilla.</li>
        <li>Una vez completamente frío, corta en porciones y sirve. Puedes espolvorear con azúcar glas o decorar con rodajas finas de limón, si lo deseas.</li>
    </ol>
    <iframe width="500" height="250" src="https://www.youtube.com/embed/IiEUgUi7ctc?si=1r5gXzG0oVbilhtR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <hr>
    <h2>Leer esta receta en</h2>
    <ul>
        <li><a href="https://www.airedesantafe.com.ar/recetas/budin-limon-harina-arroz-la-receta-tacc-disfrutar-la-merienda-n589691" target="_blank">Receta en portal externo</a></li>
        <li><a href="tarta-de-queso-sin-horno.html" target="_blank"> Ver receta 1: Tarta de queso sin horno</a></li>
        <li><a href="../index.html" target="_blank">Volver al inicio</a></li>
    </ul>
</body>
</html>