h1,h2{
    font-family: 'Times New Roman', Times, serif; 
}
h1{
    color:rgb(205, 15, 15); font-size: 35px;
}
h2{
    color: #f95f06; font-size: 30px;
}
p{
    color: #891af1; font-size: 25px;
}
a {
    font-size: 20px;
}