/* Fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");


h1 {
    font-family: 'Sofia', sans-serif; color:rgb(205, 15, 15); font-size: 40px
}

h2 {
    font-family: 'audiowide', sans-serif; color: rgb(210, 7, 112, 0.647); font-size: 30px;
}

p{ 
    font-family: 'trirong', sans-serif; color:rgb(28, 8, 13, 0.616); font-size: 25px;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #990066; 
    text-decoration: none;
}

body {
    background-color: #f3c6c7;
    margin: 20px;
    padding: 20px;
}
