@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Fleur+De+Leah&family=Fredericka+the+Great&family=Ruslan+Display&display=swap');
</style>
);
.ruslan-display-regular {
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.fredericka-the-great-regular {
  font-family:"Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
}
.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}
.farsan-regular {
  font-family: "Farsan", cursive;
  font-weight: 400;
  font-style: normal;
}
h1{
    font-family:"Ruslan Display", sans-serif; font-size: 45px; color: rgb(153, 11, 153);
}
p {
    font-family:"Fleur De Leah", cursive; font-size: 38px ; color: rgb(201, 11, 11);
}
h2{
    font-family:"Fredericka the Great", serif; font-size: 40px ;color: rgb(13, 216, 111);
}
li {
    font-family:"Farsan", cursive; font-size: 38px; color: rgb(145, 27, 27);
}
body {
    background-color: rgb(125, 246, 246);
}